## Only for xc6slx75 in package fgg484 in UmTRXv2 2012/09/21

## ETH PHY
NET "GMII_GTX_CLK" LOC = H21;
NET "GMII_RX_CLK" LOC = H22;
NET "GMII_TX_CLK" LOC = J22;
NET "ETH_LED" LOC = W12; // ETH_LEDO (Orange ) on sch
NET "ETH_LEDG" LOC = Y15;
NET "GMII_RXD[0]" LOC = L20;
NET "GMII_RXD[1]" LOC = K22;
NET "GMII_RXD[2]" LOC = K21;
NET "GMII_RXD[3]" LOC = F18;
NET "GMII_RXD[4]" LOC = J20;
NET "GMII_RXD[5]" LOC = F19;
NET "GMII_RXD[6]" LOC = F20;
NET "GMII_RXD[7]" LOC = G22;
NET "GMII_RX_DV" LOC = L22;
NET "GMII_RX_ER" LOC = M22;
NET "GMII_TXD[0]" LOC = T22;
NET "GMII_TXD[1]" LOC = T21;
NET "GMII_TXD[2]" LOC = U22;
NET "GMII_TXD[3]" LOC = U20;
NET "GMII_TXD[4]" LOC = V22;
NET "GMII_TXD[5]" LOC = V21;
NET "GMII_TXD[6]" LOC = W22;
NET "GMII_TXD[7]" LOC = W20;
NET "GMII_TX_EN" LOC = T19;
NET "GMII_COL" LOC = N22;
NET "GMII_CRS" LOC = P20;
NET "GMII_TX_ER" LOC = R22;
NET "CLK_TO_MAC" LOC = K20; // in v1a was G20; !!!
NET "MDIO" LOC = F21;
NET "MDC" LOC = F22;
NET "PHY_INTn" LOC = E22;
NET "PHY_RESETn" LOC = R20;

## UARTS
NET "RXD[1]" LOC = T17; // FPGA output -> FTDI output !!! in v1a was input  !!!
NET "RXD[2]" LOC = AB17; // FPGA output -> GPS output !!! in v1a was input  !!!
NET "TXD[1]" LOC = T18; // FPGA input <- FTDI input !!! in v1a was output  !!!
NET "TXD[2]" LOC = Y17; // FPGA input <- GPS input !!! in v1a was output  !!!

## Global CLK
// NET "CLK_FPGA_N" LOC = L19; // !!! in v2 it is DEBUG_CLK_N output, see  below
NET "CLK_FPGA_P" LOC = M3; // in v1a was NET "CLK_FPGA_P" LOC = M20; a big difference !!!
NET "FPGA_RESET" LOC = AB4;

## LMS
NET "RX1IQSEL" LOC = J4;//"RX_IQ_SEL_0"
NET "RX2IQSEL" LOC = P8;//"RX_IQ_SEL_1"
NET "TX1IQSEL" LOC = H6;//"TX_IQ_SEL_0"
NET "TX2IQSEL" LOC = M5;//"TX_IQ_SEL_1"
NET "RX1D[0]" LOC = J1;//"ADC_0[0]"
NET "RX1D[1]" LOC = L6;//"ADC_0[1]"
NET "RX1D[2]" LOC = H3;//"ADC_0[2]"
NET "RX1D[3]" LOC = K6;//"ADC_0[3]"
NET "RX1D[4]" LOC = K5;//"ADC_0[4]"
NET "RX1D[5]" LOC = H2;//"ADC_0[5]"
NET "RX1D[6]" LOC = J3;//"ADC_0[6]"
NET "RX1D[7]" LOC = K4;//"ADC_0[7]"
NET "RX1D[8]" LOC = J6;//"ADC_0[8]"
NET "RX1D[9]" LOC = M8;//"ADC_0[9]"
NET "RX1D[10]" LOC = J7;//"ADC_0[10]"
NET "RX1D[11]" LOC = N7;//"ADC_0[11]"
NET "RX2D[0]" LOC = T2;//"ADC_1[0]"
NET "RX2D[1]" LOC = T3;//"ADC_1[1]"
NET "RX2D[2]" LOC = U1;//"ADC_1[2]"
NET "RX2D[3]" LOC = T4;//"ADC_1[3]"
NET "RX2D[4]" LOC = V3;//"ADC_1[4]"
NET "RX2D[5]" LOC = T1;//"ADC_1[5]"
NET "RX2D[6]" LOC = U3;//"ADC_1[6]"
NET "RX2D[7]" LOC = U4;//"ADC_1[7]"
NET "RX2D[8]" LOC = V2;//"ADC_1[8]"
NET "RX2D[9]" LOC = V1;//"ADC_1[9]"
NET "RX2D[10]" LOC = W1;//"ADC_1[10]"
NET "RX2D[11]" LOC = W3;//"ADC_1[11]"
// NET "ADC_CLK_O1" LOC = G3;//"RX1_CLK/2" - unused in v2 !!!
// NET "ADC_CLK_O2" LOC = N1;//"RX2_CLK/2" - unused in v2 !!!
// NET "RX1_EN" LOC = L1;//"ADC_EN_0" - unused in v2 !!!
// NET "RX2_EN" LOC = Y2;//"ADC_EN_1" - unused in v2 !!!

// NET "TX1EN" LOC = G1; - unused in v2 !!!
// NET "TX2EN" LOC = N4; - unused in v2 !!!
// NET "TX1CLK" LOC = K3;//"DAC_CLK_0" - unused in v2 !!!
// NET "TX2CLK" LOC = M3;//"DAC_CLK_1" - in v2 it is "CLK_FPGA", see above, a big difference !!!
NET "TX1D[0]" LOC = H4;//"DAC_0[0]"
NET "TX1D[1]" LOC = H8;//"DAC_0[1]"
NET "TX1D[2]" LOC = G4;//"DAC_0[2]"
NET "TX1D[3]" LOC = G7;//"DAC_0[3]"
NET "TX1D[4]" LOC = F5;//"DAC_0[4]"
NET "TX1D[5]" LOC = F7;//"DAC_0[5]"
NET "TX1D[6]" LOC = G6;//"DAC_0[6]"
NET "TX1D[7]" LOC = E5;//"DAC_0[7]"
NET "TX1D[8]" LOC = F3;//"DAC_0[8]"
NET "TX1D[9]" LOC = E4;//"DAC_0[9]"
NET "TX1D[10]" LOC = H1;//"DAC_0[10]"
NET "TX1D[11]" LOC = E6;//"DAC_0[11]"
NET "TX2D[0]" LOC = R3;//"DAC_1[0]"
NET "TX2D[1]" LOC = L4;//"DAC_1[1]"
NET "TX2D[2]" LOC = R1;//"DAC_1[2]"
NET "TX2D[3]" LOC = K7;//"DAC_1[3]"
NET "TX2D[4]" LOC = P2;//"DAC_1[4]"
NET "TX2D[5]" LOC = K8;//"DAC_1[5]"
NET "TX2D[6]" LOC = P1;//"DAC_1[6]"
NET "TX2D[7]" LOC = P4;//"DAC_1[7]"
NET "TX2D[8]" LOC = P5;//"DAC_1[8]"
NET "TX2D[9]" LOC = P6;//"DAC_1[9]"
NET "TX2D[10]" LOC = P3;//"DAC_1[10]"
NET "TX2D[11]" LOC = N3;//"DAC_1[11]"

NET "LMS1nRST" LOC = L3;//"LMS_RESET_0"
NET "LMS2nRST" LOC = Y1;//"LMS_RESET_1"

## SPI
NET "SCLK1" LOC = F1;//LMS_SACLK_0
NET "SCLK2" LOC = H5;//LMS_SACLK_1

NET "MISO1" LOC = F2;//"LMS_SADIO_0"
NET "MISO2" LOC = N6;//"LMS_SADIO_1"
NET "MOSI1" LOC = E3;//"LMS_SADO_0"
NET "MOSI2" LOC = M7;//"LMS_SADO_1"
NET "SEN1" LOC = E1;//"LMS_SAEN_0"
NET "SEN2" LOC = M4;//"LMS_SAEN_1"

## PPS
NET "PPS_IN" LOC = AB18;
NET "GPS_ON" LOC = AA4; // !!!! 0-GPS_standby, 1-GPS_active.

## SRAM
NET "RAM_A[0]" LOC = A14;
NET "RAM_A[1]" LOC = C14;
NET "RAM_A[2]" LOC = A6;
NET "RAM_A[3]" LOC = B6;
NET "RAM_A[4]" LOC = D3;
NET "RAM_A[5]" LOC = D1;
NET "RAM_A[6]" LOC = D2;
NET "RAM_A[7]" LOC = B18;
NET "RAM_A[8]" LOC = A18;
NET "RAM_A[9]" LOC = C17;
NET "RAM_A[10]" LOC = A17;
NET "RAM_A[11]" LOC = B16;
NET "RAM_A[12]" LOC = A16;
NET "RAM_A[13]" LOC = C16;
NET "RAM_A[14]" LOC = A13;
NET "RAM_A[15]" LOC = B12;
NET "RAM_A[16]" LOC = A12;
NET "RAM_A[17]" LOC = A11;
NET "RAM_A[18]" LOC = C1;// in v2 it possible the last address in ISSI 512Kx36 SRAM !!!
NET "RAM_A[19]" LOC = A15;
NET "RAM_A[20]" LOC = B14;
NET "RAM_BWn[0]" LOC = C4;
NET "RAM_BWn[1]" LOC = A4;
NET "RAM_BWn[2]" LOC = D5; // in v1a was D7; in v2 "RAM_D[17]" LOC = D7; !!!
NET "RAM_BWn[3]" LOC = A5;
NET "RAM_CENn" LOC = C3;
NET "RAM_CLK" LOC = B3;
NET "RAM_LDn" LOC = B1;
NET "RAM_OEn" LOC = B2;
NET "RAM_WEn" LOC = A2;
NET "RAM_ZZ" LOC = F16;
NET "RAM_D[0]" LOC = E12;
NET "RAM_D[1]" LOC = D12;
NET "RAM_D[2]" LOC = D13;
NET "RAM_D[3]" LOC = C12;
NET "RAM_D[4]" LOC = D14;
NET "RAM_D[5]" LOC = C13;
NET "RAM_D[6]" LOC = D15;
NET "RAM_D[7]" LOC = C15;
NET "RAM_D[8]" LOC = D17;
NET "RAM_D[9]" LOC = D11;
NET "RAM_D[10]" LOC = D10;
NET "RAM_D[11]" LOC = C10;
NET "RAM_D[12]" LOC = D9;
NET "RAM_D[13]" LOC = C8;
NET "RAM_D[14]" LOC = C7;
NET "RAM_D[15]" LOC = D6;
NET "RAM_D[16]" LOC = C5;
NET "RAM_D[17]" LOC = D7; // in v1a was D5; in v2 "RAM_BWn[2]" LOC = D5; !!!
NET "RAM_D[18]" LOC = A7;
NET "RAM_D[19]" LOC = B8;
NET "RAM_D[20]" LOC = A8;
NET "RAM_D[21]" LOC = C9;
NET "RAM_D[22]" LOC = D8;
NET "RAM_D[23]" LOC = H13;
NET "RAM_D[24]" LOC = F13;
NET "RAM_D[25]" LOC = G13;
NET "RAM_D[26]" LOC = C6;
NET "RAM_D[27]" LOC = E14;
NET "RAM_D[28]" LOC = F14;
NET "RAM_D[29]" LOC = F15;
NET "RAM_D[30]" LOC = E16;
NET "RAM_D[31]" LOC = H14;
NET "RAM_D[32]" LOC = A9;
NET "RAM_D[33]" LOC = B10;
NET "RAM_D[34]" LOC = A10;
NET "RAM_D[35]" LOC = C11;

## I2C
NET "SCL" LOC = AA14;
NET "SDA" LOC = AA16;

# DAC
NET "SCLK_DAC" LOC = AB19;
NET "SEN_DAC" LOC = Y19;// actually DAC_NSY on SCH
NET "MISO_DAC" LOC = AA18;// actually DAC_DIN on SCH

## SPI Flash
NET "flash_clk" LOC = Y21;
NET "flash_cs" LOC = T5;
NET "flash_miso" LOC = AA20;
NET "flash_mosi" LOC = AB20;

## AUX // in case of UmSELv1 it is LVDS outputs for Rx diversity switches
NET "DivSw2_N" LOC = K1; // in v1a was DivSw1_N !!!
NET "DivSw2_P" LOC = K2; // in v1a was DivSw1_P !!!
NET "DivSw1_N" LOC = M1; // in v1a was DivSw2_N !!!
NET "DivSw1_P" LOC = M2; // in v1a was DivSw2_P !!!

## additional SPI and controls for AUX board in v2 !!!
NET "AUX_SCLK" LOC = AB12;
NET "AUX_SDAT" LOC = AB8;
NET "AUX_SEN1" LOC = AA8; // ch1 ADF4350 load/enable
NET "AUX_SEN2" LOC = AB11; // ch2 ADF4350 load/enable
NET "AUX_LD1" LOC = AB6; // ch1 ADF4350 lock detect input
NET "AUX_LD2" LOC = AB9; // ch2 ADF4350 lock detect input
NET "AUX_SCL" LOC = AB7;//  I2C clock (teperature sensor etc.)
NET "AUX_SDA" LOC = AB10;//  I2C data (teperature sensor etc.)

## PA control
NET "ENPA2"   LOC = AB21;
NET "ENPA1"   LOC = AA21;
NET "LOWPA"   LOC = Y12;
NET "DCSYNC"  LOC = AA6;


## LEDS
NET "leds[1]" LOC = Y3;
NET "leds[2]" LOC = W4;
NET "leds[3]" LOC = AB2;
NET "leds[4]" LOC = Y4;
NET "leds[5]" LOC = AA2;
NET "led_stat" LOC = AB3; // output for clock status (or something else) front panel LED !!!
			  // was stupid "master clock" LED indicator

### Debug  // a lot changes !!!
NET "debug[0]" LOC = D22;
NET "debug[1]" LOC = H19;// was E20;
NET "debug[2]" LOC = J17;// was C22;
NET "debug[3]" LOC = H16;// was D21;
NET "debug[4]" LOC = D20;// was B22;
NET "debug[5]" LOC = F17;// was C20;
NET "debug[6]" LOC = N19;// was A21;
NET "debug[7]" LOC = K16;// was B21;
NET "debug[8]" LOC = J19;// was A20;
NET "debug[9]" LOC = H20;// was B20;
NET "debug[10]" LOC = K19;// was H20;
NET "debug[11]" LOC = G20;// was J19;
NET "debug[12]" LOC = M19;// was H18;
NET "debug[13]" LOC = K18;// was H19;
NET "debug[14]" LOC = L17;// was J16;
NET "debug[15]" LOC = L15;// was J17;
NET "debug[16]" LOC = E20;// was G19;
NET "debug[17]" LOC = H18;// was H16;
NET "debug[18]" LOC = J16;// was G16;
NET "debug[19]" LOC = G19;// was D20;
NET "debug[20]" LOC = G16;// was D19;
NET "debug[21]" LOC = D19;// was F17;
NET "debug[22]" LOC = K17;
NET "debug[23]" LOC = C19;
NET "debug[24]" LOC = D21;// was K19;
NET "debug[25]" LOC = C22;// was N20;
NET "debug[26]" LOC = C20;// was M19;
NET "debug[27]" LOC = B22;// was K20;
NET "debug[28]" LOC = B21;// was N19;
NET "debug[29]" LOC = A21;// was K18;
NET "debug[30]" LOC = B20;// was K16;
NET "debug[31]" LOC = A20;// was L17;
NET "debug_clk_p" LOC = M20;// was "debug_clk[0]" LOC = L15; !!!
NET "debug_clk_n" LOC = L19;// was "debug_clk[1]" LOC = N16; !!!


// #NET "CLK_FPGA_N" IOSTANDARD = LVPECL_25;//  LVCMOS25 - UNUSED  !!!
#NET "CLK_FPGA" IOSTANDARD = LVCMOS25;// !!!

NET "FPGA_RESET" IOSTANDARD = LVCMOS33;
NET "ETH_LED" IOSTANDARD = LVCMOS33;
NET "ETH_LEDG" IOSTANDARD = LVCMOS33;
NET "CLK_TO_MAC" IOSTANDARD = LVCMOS25;
NET "GMII_GTX_CLK" IOSTANDARD = LVCMOS25;

NET "PPS_IN" IOSTANDARD = LVCMOS33;
NET "GPS_ON" IOSTANDARD = LVCMOS33;// !!!! 0-GPS_standby, 1-GPS_active.

NET "SCL" IOSTANDARD = LVCMOS33;
NET "SDA" IOSTANDARD = LVCMOS33;

NET "flash_clk" IOSTANDARD = LVCMOS33;
NET "flash_cs" IOSTANDARD = LVCMOS33;
NET "flash_miso" IOSTANDARD = LVCMOS33;
NET "flash_mosi" IOSTANDARD = LVCMOS33;

NET "leds[1]" IOSTANDARD = LVCMOS33;
NET "leds[2]" IOSTANDARD = LVCMOS33;
NET "leds[3]" IOSTANDARD = LVCMOS33;
NET "leds[4]" IOSTANDARD = LVCMOS33;
NET "leds[5]" IOSTANDARD = LVCMOS33;
NET "led_stat" IOSTANDARD = LVCMOS33;

NET "GMII_GTX_CLK" SLEW = SLOW;
NET "flash_clk" SLEW = SLOW;

NET "SCLK_DAC" IOSTANDARD = LVCMOS33;//"SCLK_DAC"
NET "SEN_DAC" IOSTANDARD = LVCMOS33;//"SEN_DAC"
NET "MISO_DAC" IOSTANDARD = LVCMOS33;//"MISO_DAC"

NET "RXD[1]" IOSTANDARD = LVCMOS33;// FPGA output -> FTDI output !!! in v1a was input  !!!
NET "RXD[2]" IOSTANDARD = LVCMOS33;// FPGA output -> GPS output  !!! in v1a was input  !!!
NET "RXD[3]" IOSTANDARD = LVCMOS33;
NET "TXD[1]" IOSTANDARD = LVCMOS33;// FPGA input <- FTDI input  !!! in v1a was output  !!!
NET "TXD[2]" IOSTANDARD = LVCMOS33;// FPGA input <- GPS input  !!! in v1a was output  !!!
NET "TXD[3]" IOSTANDARD = LVCMOS33;

NET "ENPA2"   IOSTANDARD = LVCMOS33;
NET "ENPA1"   IOSTANDARD = LVCMOS33;
NET "LOWPA"   IOSTANDARD = LVCMOS33;
NET "DCSYNC"  IOSTANDARD = LVCMOS33;

NET "DivSw1_N" IOSTANDARD = LVCMOS25;
NET "DivSw1_P" IOSTANDARD = LVCMOS25;
NET "DivSw2_N" IOSTANDARD = LVCMOS25;
NET "DivSw2_P" IOSTANDARD = LVCMOS25;

## additional SPI and controls for AUX board in v1b !!!
NET "AUX_SDAT" IOSTANDARD = LVCMOS33;// FPGA input/output !!!
NET "AUX_SCLK" IOSTANDARD = LVCMOS33;// FPGA output !!!
NET "AUX_SEN1" IOSTANDARD = LVCMOS33;// FPGA output !!!
NET "AUX_SEN2" IOSTANDARD = LVCMOS33;// FPGA output !!!
NET "AUX_LD1" IOSTANDARD = LVCMOS33;// FPGA input !!!
NET "AUX_LD2" IOSTANDARD = LVCMOS33;// FPGA input !!!
NET "AUX_SDA" IOSTANDARD = LVCMOS33;// FPGA input !!!
NET "AUX_SCL" IOSTANDARD = LVCMOS33;// FPGA input !!!

NET "CLK_FPGA_P" TNM_NET = "CLK_FPGA_P";
TIMESPEC TS_clk_fpga_p = PERIOD "CLK_FPGA_P" 38 ns HIGH 50 %;

NET "CLK_TO_MAC" TNM_NET = "CLK_TO_MAC";
TIMESPEC TS_clk_to_mac = PERIOD "CLK_TO_MAC" 8 ns HIGH 50 %;

NET "GMII_RX_CLK" TNM_NET = "GMII_RX_CLK";
TIMESPEC TS_GMII_RX_CLK = PERIOD "GMII_RX_CLK" 8 ns HIGH 50 %;
