Source: umtrx
Section: libs
Priority: optional
Maintainer: Josh Blum <josh@pothosware.com>
Build-Depends:
    debhelper (>= 11.0.0),
    cmake (>= 2.8),
    libboost-date-time-dev,
    libboost-filesystem-dev,
    libboost-system-dev,
    libboost-thread-dev,
    libboost-program-options-dev,
    libuhd-dev (>= 3.7)
Standards-Version: 3.9.5
Homepage: http://umtrx.org/
Vcs-Git: https://github.com/fairwaves/UHD-Fairwaves.git
Vcs-Browser: https://github.com/fairwaves/UHD-Fairwaves

Package: umtrx
Section: libs
Architecture: any
Pre-Depends: multiarch-support, ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, uhd-umtrx
Conflicts: umtrx-uhd
Replaces: umtrx-uhd
Recommends: python
Description: Fairwaves UmTRX driver - runtime utilities
 The industrial grade dual-channel wide-band SDR transceiver.

Package: uhd-umtrx
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: umtrx-uhd
Replaces: umtrx-uhd
Description: Fairwaves UmTRX driver - UHD plugin module
 The industrial grade dual-channel wide-band SDR transceiver.

Package: umtrx-dbg
Section: debug
Architecture: any
Depends: umtrx, uhd-umtrx, ${misc:Depends}
Description: Fairwaves UmTRX driver - debug symbols
 The industrial grade dual-channel wide-band SDR transceiver.
